<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">{{ 'DASHBOARD.CURRENT_EVENTS' | translate }} ({{events.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>{{ 'TABLES.TITLE' | translate }}</th>
          <th>{{ 'TABLES.DESCRIPTION' | translate }}</th>
          <th>{{ 'TABLES.START_CAMPAIGN' | translate }}/{{ 'TABLES.END_CAMPAIGN' | translate }}</th>
          <th>{{ 'TABLES.LOCATION' | translate }}</th>
          <th>{{ 'TABLES.EDIT' | translate }}</th>
          <th>{{ 'TABLES.DELETE' | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="events.length === 0">
        <tr>
          <td colspan="4">{{ 'TEXTS.NO_REGISTERED_USERS' | translate }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let event of events; let i = index" [class.table-danger]="event.deleted">
          <td>{{ i + 1}}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.date_start }} / {{ event.date_start }}</td>
          <td>{{ event.place_id }}</td>
          <td>
            <a (click)="editEvent(event)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a (click)="deleteEvent(event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-3">
  <h4 class="card-header">{{ 'DASHBOARD.USERS' | translate }} ({{users.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>{{ 'TABLES.NAME' | translate }}</th>
        <th>{{ 'TABLES.EMAIL' | translate }}</th>
        <th>{{ 'TABLES.ROLE' | translate }}</th>
        <th>{{ 'TABLES.EDIT' | translate }}</th>
        <th>{{ 'TABLES.DELETE' | translate }}</th>
      </tr>
      </thead>
      <tbody *ngIf="users.length === 0">
      <tr>
        <td colspan="4">{{ 'TEXTS.NO_REGISTERED_USERS' | translate }}</td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.last_name }} {{ user.first_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <a (click)="editUser(user)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </td>
        <td>
          <a (click)="deleteUser(user)" [disabled]="auth.currentUser._id === user._id">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!--Modal: Edit user form-->
<div mdbModal #editUserModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header info-color-dark white-text">
        <h4 class="title">
          <i class="fa fa-pencil"></i> {{ 'LABELS.EDIT_USER' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="editUserModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
          <div class="md-form">
            <input type="text" class="form-control" name="first_name" formControlName="first_name">
            <label class="active">{{ 'INPUTS.FIRST_NAME' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" name="last_name" formControlName="last_name">
            <label class="active">{{ 'INPUTS.LAST_NAME' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="email" class="form-control" name="email" formControlName="email">
            <label class="active">{{ 'INPUTS.EMAIL' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" name="role" formControlName="role">
            <label class="active">{{ 'INPUTS.ROLE' | translate }}</label>
          </div>
          <br>
          <button type="submit" class="btn info-color-dark btn-lg btn-block waves-light" mdbRippleRadius>
            <i class="fa fa-refresh mr-1"></i>{{ 'BUTTONS.UPDATE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Modal: Edit user form-->

<!--Modal: Edit event form-->
<div mdbModal #editEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header warning-color-dark white-text">
        <h4 class="title">
          <i class="fa fa-pencil"></i> {{ 'LABELS.UPDATE_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="editEventModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="eventForm" (ngSubmit)="editEvent(event)">

          <div class="md-form">
            <input type="text" class="form-control" name="title" formControlName="title">
            <label class="active">{{ 'INPUTS.TITLE' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" name="description" formControlName="description">
            <label class="active">{{ 'INPUTS.DESCRIPTION' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="date" class="form-control" name="date_start" formControlName="date_start">
            <label class="active">{{ 'INPUTS.START_CAMPAIGN' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="date" class="form-control" name="date_end" formControlName="date_end">
            <label class="active">{{ 'INPUTS.END_CAMPAIGN' | translate }}</label>
          </div>

        </form>
        <button type="button" class="btn warning-color-dark btn-lg btn-block waves-light" (click)="updateEvent()" mdbRippleRadius>
          <i class="fa fa-refresh mr-1"></i>{{ 'BUTTONS.UPDATE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!--Modal: Edit event form-->
