<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<mdb-tabset [buttonClass]="'nav-tabs indigo'" [contentClass]="'card'" *ngIf="!isLoading">
  <mdb-tab heading="{{ 'TABS.REVENUE' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
      </div>
    </div>
  </mdb-tab>
  <mdb-tab heading="{{ 'TABS.EVENTS' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="table-responsive text-left">
          <table class="table">
            <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>{{ 'DASHBOARD.NAME' | translate }}</th>
              <th>{{ 'DASHBOARD.DATE' | translate }}</th>
              <th>{{ 'DASHBOARD.LOCATION' | translate }}</th>
              <th>{{ 'DASHBOARD.RATINGS' | translate }}</th>
              <th>{{ 'DASHBOARD.EDIT' | translate }}</th>
              <th>{{ 'TABLE.DELETE' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events; let i = index" [class.table-danger]="event.deleted">
              <td>{{ i + 1}}</td>
              <td>{{ event.name }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.location }}</td>
              <td>{{ event.ratings }}</td>
              <td>
                <a (click)="editEvent(event)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a (click)="deleteEvent(event)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mdb-tab>
  <mdb-tab heading="{{ 'TABS.USER' | translate }} ({{users.length}})">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="table-responsive text-left">
          <table class="table">
            <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>{{ 'DASHBOARD.NAME' | translate }}</th>
              <th>{{ 'DASHBOARD.EMAIL' | translate }}</th>
              <th>{{ 'DASHBOARD.ROLE' | translate }}</th>
              <th>{{ 'DASHBOARD.EDIT' | translate }}</th>
              <th>{{ 'TABLE.DELETE' | translate }}</th>
            </tr>
            </thead>
            <tbody *ngIf="users.length === 0">
            <tr>
              <td colspan="4">There are no registered users.</td>
            </tr>
            </tbody>
            <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{user.role}}</td>
              <td>
                <a (click)="editUser(user)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a (click)="deleteUser(user)" [disabled]="auth.currentUser._id === user._id">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mdb-tab>
  <mdb-tab heading="PRINTING_HOUSES">
    <div class="row">
      <div class="col-12 text-left">

      </div>
    </div>
  </mdb-tab>
</mdb-tabset>


<!--Modal: Edit user form-->
<div mdbModal #editUserModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header indigo white-text">
        <h4 class="title">
          <i class="fa fa-pencil"></i> {{ 'LABELS.EDIT_USER' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="editUserModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">

          <br>
          <button type="submit" class="btn indigo btn-lg btn-block waves-light" mdbRippleRadius>
            <i class="fa fa-refresh mr-1"></i>{{ 'BUTTONS.UPDATE_USER' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Modal: Edit user form-->

<!--Modal: Edit event form-->
<div mdbModal #editEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header indigo white-text">
        <h4 class="title">
          <i class="fa fa-pencil"></i> {{ 'LABELS.EDIT_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="editEventModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="eventForm">

          <div class="md-form">
            <input type="text" class="form-control" formControlName="name">
            <label class="active">{{ 'INPUTS.NAME' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" formControlName="description">
            <label class="active">{{ 'INPUTS.DESCRIPTION' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" formControlName="location">
            <label class="active">{{ 'INPUTS.LOCATION' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" formControlName="date">
            <label class="active">{{ 'INPUTS.DATE' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="password" class="form-control" formControlName="password">
            <label class="active">{{ 'INPUTS.PASSWORD' | translate }}</label>
          </div>

        </form>
        <button type="button" class="btn indigo btn-lg btn-block waves-light" (click)="updateEvent()" mdbRippleRadius>
          <i class="fa fa-refresh mr-1"></i>{{ 'BUTTONS.UPDATE_EVENT' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!--Modal: Edit event form-->