<!-- Header-Section -->
<div class="view intro hm-purple-light" style="">
    <div class="full-bg-img flex-center">
        <div class="container text-center white-text wow fadeInUp">
            <h2>This Navbar is fixed and transparent {{ 'DASHBOARD.TEST' | translate }}</h2>
            <br>
            <h5>It will always stay visible on the top, even when you scroll down</h5>
            <button type="button" class="btn btn-light-opacity btn-rounded" mdbRippleRadius>
                <i class="fa fa-play" aria-hidden="true"></i> How it works
            </button>
            <br>
            <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
        </div>
    </div>
</div>
<!-- Header-Section-end -->

<!--Main Layout-->
<main class="text-center py-5">

    <div class="container">
        <section>
            <!--Grid row-->
            <div class="row pt-2">
                <!--Grid column-->
                <div class="col-lg-6">
                    <h2 class="text-left mb-3">
                        Take your first online order tonight from your website & Facebook page
                    </h2>
                    <p class="text-left">In just a few minutes, you’ll have a powerful and intuitive ordering system that enables your customers to place orders from your <strong>website, Facebook page & mobile app</strong>.
                        No matter how much your business grows, you have unlimited orders with zero commissions.</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="../../assets/images/online-ordering-system-multi-device.png" alt="online ordering system" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>

        <section>
            <!--Grid row-->
            <div class="row pt-2">
                <!--Grid column-->
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="../../assets/images/table-reservations-website.png" alt="table reservations website" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-6">
                    <h2 class="text-left mb-3">
                        Table reservations with food ordering in advance
                    </h2>
                    <p class="text-left">Add the <strong>“Table Reservations” </strong>button on your website and allow customers to book a table online, at no cost.

                        You can even allow food ordering in advance and have the dishes ready at your clients' arrival. Happy customers, faster table turnover. Perfect.</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>

        <section>
            <!--Grid row-->
            <div class="row pt-2">
                <!--Grid column-->
                <div class="col-lg-6">
                    <h2 class="text-left mb-3 mt-5">
                        Receive orders & table reservations directly on your smartphone or tablet
                    </h2>
                    <p class="text-left">Receive instant push notifications on your Android or iOS device every time your customers place an order or book a table. Ka-ching!</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="../../assets/images/mobile-app-for-orders-and-reservations.png" alt="app for orders and reservations" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>

        <section class="team-section text-center pb-3" *ngIf="!isLoading && events.length > 0">

            <!--Section heading-->
            <h1 class="h1 pt-4">Events</h1>
            <!--Section description-->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
                veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

            <!--Grid row-->
            <div class="row text-center">

                <!--Grid column-->
                <div class="col-md-4" *ngFor="let event of events">

                    <div class="testimonial">

                        <!--Content-->
                        <h4 class="my-3">{{event.title}}</h4>
                        <h6 class="mb-3 font-bold grey-text">{{event.date_start}}-{{event.date_end}}</h6>
                        <p>{{event.description}}</p>

                        <!--Review-->
                        <div class="orange-text">
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star-half-full"> </i>
                        </div>
                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
    </div>

</main>
<!--Main Layout-->
