<!-- Header-Section -->
<div class="view intro hm-purple-light" style="">
    <div class="full-bg-img flex-center">
        <div class="container text-center white-text wow fadeInUp">
            <h2>This Navbar is fixed and transparent {{ 'DASHBOARD.TEST' | translate }}</h2>
            <br>
            <h5>It will always stay visible on the top, even when you scroll down</h5>
            <button type="button" class="btn btn-light-opacity btn-rounded" mdbRippleRadius>
                <i class="fa fa-play" aria-hidden="true"></i> How it works
            </button>
            <br>
            <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
        </div>
    </div>
</div>
<!-- Header-Section-end -->

<!--Main Layout-->
<main class="text-center py-5">

    <div class="container">
        <section>
            <!--Grid row-->
            <div class="row pt-2">
                <!--Grid column-->
                <div class="col-lg-6">
                    <h2 class="text-left mb-3">
                        Take your first online order tonight from your website & Facebook page
                    </h2>
                    <p class="text-left">In just a few minutes, you’ll have a powerful and intuitive ordering system that enables your customers to place orders from your <strong>website, Facebook page & mobile app</strong>.
                        No matter how much your business grows, you have unlimited orders with zero commissions.</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="../../assets/images/online-ordering-system-multi-device.png" alt="online ordering system" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>

        <section>
            <!--Grid row-->
            <div class="row pt-2">
                <!--Grid column-->
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="../../assets/images/table-reservations-website.png" alt="table reservations website" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-6">
                    <h2 class="text-left mb-3">
                        Table reservations with food ordering in advance
                    </h2>
                    <p class="text-left">Add the <strong>“Table Reservations” </strong>button on your website and allow customers to book a table online, at no cost.

                        You can even allow food ordering in advance and have the dishes ready at your clients' arrival. Happy customers, faster table turnover. Perfect.</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>

        <section>
            <!--Grid row-->
            <div class="row pt-2">
                <!--Grid column-->
                <div class="col-lg-6">
                    <h2 class="text-left mb-3 mt-5">
                        Receive orders & table reservations directly on your smartphone or tablet
                    </h2>
                    <p class="text-left">Receive instant push notifications on your Android or iOS device every time your customers place an order or book a table. Ka-ching!</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="../../assets/images/mobile-app-for-orders-and-reservations.png" alt="app for orders and reservations" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>

        <!--Testimonial-Section-->
        <section class="team-section text-center pb-3">
            <h2 class="py-2">What our customers are saying</h2>
            <!--Section description-->
            <a href="#" class="grey-text pb-7">See More Testimonials</a>

            <!--Grid row-->
            <div class="row text-center">

                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto my-3">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                        </div>

                        <!--Content-->
                        <h4 class="mb-3 dark-grey-text">
                            <strong>Anna Deynah</strong>
                        </h4>
                        <h6 class="mb-3 font-weight-bold blue-text">Web Designer</h6>
                        <p>
                            <i class="fa fa-quote-left grey-text"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae
                            quaerat ad velit ab hic tenetur.</p>

                        <!--Review-->
                        <div class="orange-text">
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star-half-full"> </i>
                        </div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto my-3">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
                        </div>

                        <!--Content-->
                        <h4 class="mb-3 dark-grey-text">
                            <strong>John Doe</strong>
                        </h4>
                        <h6 class="mb-3 font-weight-bold blue-text">Web Developer</h6>
                        <p>
                            <i class="fa fa-quote-left grey-text"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                            aliquid ex ea commodi.</p>

                        <!--Review-->
                        <div class="orange-text">
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                        </div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto my-3">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="mb-3 dark-grey-text">
                            <strong>Maria Kate</strong>
                        </h4>
                        <h6 class="mb-3 font-weight-bold blue-text">Photographer</h6>
                        <p>
                            <i class="fa fa-quote-left grey-text"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque corrupti.</p>

                        <!--Review-->
                        <div class="orange-text">
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star"> </i>
                            <i class="fa fa-star-o"> </i>
                        </div>

                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Testimonial-End-->
    </div>

</main>
<!--Main Layout-->
