.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
  background-size: cover;
}

.btn-light-opacity {
  font-size: 16px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.3);

  &:focus, &:hover, &:active {
    background: rgba(255, 255, 255, 0.5);
  }

  i {
    padding-right: 2px;
  }

  &.btn-rounded {
    border-radius: 10em;
  }
}

