<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Account settings</h4>
  <div class="card-body">
    <form #accountForm="ngForm" (ngSubmit)="save(user)">
      <div class="md-form">
        <input type="text" class="form-control" name="first_name" [(ngModel)]="user.first_name" placeholder="{{ 'PLACEHOLDER.FIRST_NAME' | translate }}">
        <label class="active">{{ 'INPUTS.FIRST_NAME' | translate }}</label>
      </div>
      <div class="md-form">
        <input type="text" class="form-control" name="last_name" [(ngModel)]="user.last_name" placeholder="{{ 'PLACEHOLDER.LAST_NAME' | translate }}">
        <label class="active">{{ 'INPUTS.LAST_NAME' | translate }}</label>
      </div>
      <div class="md-form">
        <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="{{ 'PLACEHOLDER.EMAIL' | translate }}" required>
        <label class="active">{{ 'INPUTS.EMAIL' | translate }}</label>
      </div>
      <div class="md-form">
        <input class="form-control" type="tel" name="phone" [(ngModel)]="user.phone" placeholder="{{ 'PLACEHOLDER.PHONE' | translate }}">
        <label class="active">{{ 'INPUTS.PHONE' | translate }}</label>
      </div>
      <div class="md-form">
        <input class="form-control" type="date" name="birthday" [(ngModel)]="user.birthday" placeholder="{{ 'PLACEHOLDER.BIRTHDAY' | translate }}">
        <label class="active">{{ 'INPUTS.BIRTHDAY' | translate }}</label>
      </div>
      <br>
      <div class="row no-gutters justify-content-start" style="align-items: center">
        <div class="col-4"></div>
        <div class="col-4">
          <button type="submit" class="btn btn-lg btn-block waves-light pink" mdbRippleRadius [disabled]="!accountForm.form.valid">
            {{ 'BUTTONS.UPDATE_PROFILE' | translate }}
          </button>
        </div>
        <div class="col-4"></div>
      </div>
    </form>
  </div>
</div>

<section class="team-section text-center pb-3">

  <!--Section heading-->
  <h1 class="h1 pt-4">Events</h1>
  <!--Section description-->
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
    veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

  <!--Grid row-->
  <div class="row text-center">
  <app-dashboard-event-card class="col-md-4" *ngFor="let event of events" [event]="event"></app-dashboard-event-card>
  </div>
  <!--Grid row-->

</section>