<header>
  <!--/.Navbar-->
  <mdb-navbar SideClass="navbar navbar-dark mdb-color darken-4 fixed-top navbar-expand-lg scrolling-navbar" [containerInside]="true">
    <!-- Navbar brand -->
    <logo>
      <a class="navbar-brand" routerLink="/" style="cursor: pointer">
        <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
      </a>
    </logo>
    <!-- Collapsible content -->
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" mdbRippleRadius>
          <a class="nav-link waves-light">{{ 'NAV.RESERVATION' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbRippleRadius id="a_features">{{ 'NAV.FEATURES' | translate }} </a>
        </li>
        <li class="nav-item" mdbRippleRadius>
          <a class="nav-link waves-light">{{ 'NAV.PRICES' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mdbRippleRadius>{{ 'NAV.SEARCH' | translate }} </a>
        </li>
        <li class="nav-item" mdbRippleRadius>
          <a class="nav-link waves-effect waves-light" routerLink="/login" routerLinkActive="active" *ngIf="!auth.loggedIn" mdbRippleRadius>
            <i class="fa fa-sign-in mr-1"></i>
            {{ 'NAV.SIGNIN' | translate }}
          </a>
        </li>
        <li class="nav-item" mdbRippleRadius>
          <a class="nav-link waves-effect waves-light" routerLink="/signup" routerLinkActive="active" *ngIf="!auth.loggedIn" mdbRippleRadius>
            {{ 'NAV.SIGNUP' | translate }}
          </a>
        </li>
        <li class="nav-item" mdbRippleRadius>
          <a class="nav-link waves-effect waves-light" routerLink="/dashboard" routerLinkActive="active" *ngIf="auth.loggedIn" mdbRippleRadius>
            <i class="fa fa-tachometer mr-1"></i>
            {{!auth.currentUser.first_name ? auth.currentUser.email : auth.currentUser.first_name}}
          </a>
        </li>
        <li class="nav-item" mdbRippleRadius>
          <a class="nav-link waves-effect waves-light" routerLink="/logout" routerLinkActive="active" *ngIf="auth.loggedIn" mdbRippleRadius>
            <i class="fa fa-sign-out mr-1"></i>
            {{ 'NAV.LOGOUT' | translate }}
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
  <!--/.Navbar-->
</header>
<!--Main Navigation-->

