<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">{{ 'DASHBOARD.CURRENT_EVENTS' | translate }} ({{events.length}})
  <span class="pull-right">
    <button type="button" class="btn info-color-dark waves-light" data-toggle="modal" data-target="#addEventModal" (click)="addEventModal.show()" mdbWavesEffect>
      <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> {{ 'BUTTONS.ADD' | translate }}
    </button>
  </span>
  </h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col">{{ 'TABLES.TITLE' | translate }}</th>
        <th scope="col">{{ 'TABLES.DESCRIPTION' | translate }}</th>
        <th scope="col">{{ 'TABLES.START_CAMPAIGN' | translate }}</th>
        <th scope="col">{{ 'TABLES.END_CAMPAIGN' | translate }}</th>
        <th scope="col">{{ 'TABLES.ACTIONS' | translate }}</th>
      </tr>
      </thead>
      <tbody *ngIf="events.length === 0">
      <tr>
        <td colspan="4">{{ 'TEXTS.NO_ACTIVE_EVENTS' | translate }}</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let event of events">
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td>{{event.date_start}}</td>
        <td>{{event.date_end}}</td>
        <td>
          <button class="btn btn-sm warning-color-dark" data-toggle="modal" data-target="#editEventModal" (click)="editEventModal.show()"><i class="fa fa-pencil"></i> {{ 'BUTTONS.UPDATE' | translate }}</button>
          <button class="btn btn-sm danger-color-dark" (click)="deleteEvent(event)"><i class="fa fa-trash"></i> {{ 'BUTTONS.DELETE' | translate }}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Modal: Edit event form-->
<div mdbModal #editEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header warning-color-dark white-text">
        <h4 class="title">
          <i class="fa fa-pencil"></i> {{ 'LABELS.UPDATE_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="editEventModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="eventForm" (ngSubmit)="editEvent(event)">

          <div class="md-form">
            <input mdbActive type="text" class="form-control" name="title" formControlName="title" autofocus>
            <label class="active">{{ 'INPUTS.TITLE' | translate }}</label>
            <div *ngIf="formErrors.title.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.title">
                {{ error | translate }}
              </div>
            </div>
          </div>

          <div class="md-form">
            <input mdbActive type="text" class="form-control" name="description" formControlName="description">
            <label class="active">{{ 'INPUTS.DESCRIPTION' | translate }}</label>
            <div *ngIf="formErrors.description.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.description">
                {{ error | translate }}
              </div>
            </div>
          </div>

          <div class="md-form">
            <input mdbActive type="date" class="form-control" name="date_start" formControlName="date_start">
            <label class="active">{{ 'INPUTS.START_CAMPAIGN' | translate }}</label>
            <div *ngIf="formErrors.date_start.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.date_start">
                {{ error | translate }}
              </div>
            </div>
          </div>

          <div class="md-form">
            <input mdbActive type="date" class="form-control" name="date_end" formControlName="date_end">
            <label class="active">{{ 'INPUTS.END_CAMPAIGN' | translate }}</label>
            <div *ngIf="formErrors.date_end.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.date_end">
                {{ error | translate }}
              </div>
            </div>
          </div>
          <button type="button" class="btn danger-color-dark btn-lg btn-block waves-light" (click)="editEventModal.hide()">
            <i class="fa fa-times"></i> {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button type="submit" class="btn warning-color-dark btn-lg btn-block waves-light" [disabled]="!eventForm.valid" mdbRippleRadius>
            <i class="fa fa-pencil"></i> {{ 'BUTTONS.UPDATE' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Modal: Edit event form-->


<!--Modal: Add event form-->
<div mdbModal #addEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header info-color-dark white-text">
        <h4 class="title">
          <i class="fa fa-plus"></i> {{ 'LABELS.CREATE_NEW_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="addEventModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="eventForm" (ngsubmit)="addEvent()">

          <div class="md-form">
            <input mdbActive type="text" class="form-control" name="title" formControlName="title" autofocus>
            <label class="active">{{ 'INPUTS.TITLE' | translate }}</label>
            <div *ngIf="formErrors.title.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.title">
                {{ error | translate }}
              </div>
            </div>
          </div>

          <div class="md-form">
            <input mdbActive type="text" class="form-control" name="description" formControlName="description">
            <label class="active">{{ 'INPUTS.DESCRIPTION' | translate }}</label>
            <div *ngIf="formErrors.description.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.description">
                {{ error | translate }}
              </div>
            </div>
          </div>

          <div class="md-form">
            <input mdbActive type="date" class="form-control" name="date_start" formControlName="date_start">
            <label class="active">{{ 'INPUTS.START_CAMPAIGN' | translate }}</label>
            <div *ngIf="formErrors.date_start.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.date_start">
                {{ error | translate }}
              </div>
            </div>
          </div>

          <div class="md-form">
            <input mdbActive type="date" class="form-control" name="date_end" formControlName="date_end">
            <label class="active">{{ 'INPUTS.END_CAMPAIGN' | translate }}</label>
            <div *ngIf="formErrors.date_end.length > 0">
              <div class="alert alert-danger" *ngFor="let error of formErrors.date_end">
                {{ error | translate }}
              </div>
            </div>
          </div>
          <button type="button" class="btn danger-color-dark btn-lg btn-block waves-light" (click)="addEventModal.hide()">
            <i class="fa fa-times"></i> {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button type="submit" class="btn info-color-dark btn-lg btn-block waves-light" [disabled]="!eventForm.valid" mdbRippleRadius>
            {{ 'BUTTONS.ADD' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Modal: Add event form-->