<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">{{ 'DASHBOARD.CURRENT_EVENTS' | translate }} ({{events.length}})
  <span class="pull-right">
    <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#addEventModal" (click)="addEventModal.show()" mdbWavesEffect>
      <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> {{ 'BUTTONS.ADD' | translate }}
    </button>
  </span>
  </h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col">{{ 'TABLES.TITLE' | translate }}</th>
        <th scope="col">{{ 'TABLES.DESCRIPTION' | translate }}</th>
        <th scope="col">{{ 'TABLES.START_CAMPAIGN' | translate }}</th>
        <th scope="col">{{ 'TABLES.END_CAMPAIGN' | translate }}</th>
        <th scope="col">{{ 'TABLES.ACTIONS' | translate }}</th>
      </tr>
      </thead>
      <tbody *ngIf="events.length === 0">
      <tr>
        <td colspan="4">{{ 'TEXTS.NO_ACTIVE_EVENTS' | translate }}</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let event of events">
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td>{{event.date_start}}</td>
        <td>{{event.date_end}}</td>
        <td>
          <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editEventModal" (click)="editEventModal.show()"><i class="fa fa-pencil"></i> {{ 'BUTTONS.UPDATE' | translate }}</button>
          <button class="btn btn-sm btn-danger" (click)="deleteEvent(event)"><i class="fa fa-trash"></i> {{ 'BUTTONS.DELETE' | translate }}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Modal: Edit event form-->
<div mdbModal #editEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header indigo white-text">
        <h4 class="title">
          <i class="fa fa-plus"></i> {{ 'LABELS.CREATE_NEW_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="editEventModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="editEventForm">

          <div class="md-form">
            <input type="text" class="form-control" name="title" formControlName="title">
            <label class="active">{{ 'INPUTS.TITLE' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" name="description" formControlName="description">
            <label class="active">{{ 'INPUTS.DESCRIPTION' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="date" class="form-control" name="date_start" formControlName="date_start">
            <label class="active">{{ 'INPUTS.START_CAMPAIGN' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="date" class="form-control" name="date_end" formControlName="date_end">
            <label class="active">{{ 'INPUTS.END_CAMPAIGN' | translate }}</label>
          </div>

        </form>
        <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
          <i class="fa fa-times"></i> {{ 'BUTTONS.CANCEL' | translate }}
        </button>
        <button type="button" class="btn indigo btn-lg btn-block waves-light" [disabled]="!form.form.valid" (click)="editEvent(event)" mdbRippleRadius>
          <i class="fa fa-floppy-o"></i> {{ 'BUTTONS.UPDATE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal: Edit event form-->


<!--Modal: Add event form-->
<div mdbModal #addEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header indigo white-text">
        <h4 class="title">
          <i class="fa fa-plus"></i> {{ 'LABELS.CREATE_NEW_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="addEventModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">
        <form [formGroup]="addEventForm">

          <div class="md-form">
            <input type="text" class="form-control" name="title" formControlName="title">
            <label class="active">{{ 'INPUTS.TITLE' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" name="description" formControlName="description">
            <label class="active">{{ 'INPUTS.DESCRIPTION' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="date" class="form-control" name="date_start" formControlName="date_start">
            <label class="active">{{ 'INPUTS.START_CAMPAIGN' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="date" class="form-control" name="date_end" formControlName="date_end">
            <label class="active">{{ 'INPUTS.END_CAMPAIGN' | translate }}</label>
          </div>

        </form>
        <button type="button" class="btn indigo btn-lg btn-block waves-light" [disabled]="!addEventForm.valid"  (click)="addEvent()" mdbRippleRadius>
          {{ 'BUTTONS.ADD' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal: Add event form-->